/*------------------------------------*\
  #TYPE
\*------------------------------------*/

// h1, h2, h3, h4, h5, h6 {
//   color: $color-gray-dark;
// }

// p, li {
//   font-family: Raleway, Helvetica, Roboto, Arial, sans-serif;
// }

h2 {
  font-weight: 300;
  color: shade($body-font-color, 40%);
}

h3 {
  font-weight: 600;
}

h4 {
  margin-bottom: 0.5rem;
}

h5 {
  text-transform: uppercase;
}
