/*------------------------------------*\
  #TYPE
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: $color-gray-dark;
}

p {
  font-family: Raleway, Helvetica, Roboto, Arial, sans-serif;
}

// h2 {
//   text-transform: uppercase;
//   font-weight: bold;
// }
