/*------------------------------------*\
  #NUGGETS
\*------------------------------------*/

.nugget-group {
  .nugget__item {
    h3 {
      // color: #0a0a0a;
      font-weight: bold;
      // font-size: 1.75rem;
      font-size: rem-calc(22);
      a, a:hover {
        color: $color-red-dark;
      }
    }

    p {
      // font-family: Raleway, Helvetica, Roboto, Arial, sans-serif;
    }
  }
}

.nugget-group {
  h3 {
    a {
      color: $color-red-dark;
    }
    a:hover {
      color: $color-red;
    }
  }
}

// .nugget-group {
//   &.nugget-group--justify {
//     p {
//       text-align: justify;
//     }
//   }
// }

// .nugget--text__short {
//   @include breakpoint(large) {
//     min-height: 5em;
//   }
// }

.nugget--text__medium {
  @include breakpoint(large) {
    min-height: 8em;
  }
}

.nugget--text__tall {
  @include breakpoint(large) {
    min-height: 9em;
  }
}

// .nugget--heading__double {
//   @include breakpoint(large) {
//     min-height: 3em;
//   }
// }
