/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.button {
  border-radius: $global-radius;
  text-transform: uppercase;
}

.button--dark {
  border-color: $color-gray-dark;
  color: $color-gray-dark;
}


// Special double-border button
.button--hero {
  background-color: $color-white;
  border: 4px solid $color-red;
  border-radius: 3px;
  color: $color-black;
  padding: halve($spacing-unit) $spacing-unit;
  font-weight: bold;
  font-family: Raleway;
  @include font-size(17px);
  // font-size: rem-calc(17);
  position: relative;
  margin-top: $spacing-unit;
  > .fa {
    margin-right: $spacing-unit;
  }
}

// http://stackoverflow.com/questions/19463904/css-double-border-with-different-color
// .button--hero:before {
//   background: none;
//   border: 1px solid $color-gold-alt;
//   border-radius: $global-radius;
//   content: "";
//   display: block;
//   position: absolute;
//   top: 4px;
//   left: 4px;
//   right: 4px;
//   bottom: 4px;
//   pointer-events: none;
// }


// Effects

.hvr-sweep-to-right--gold:before {
  background: $color-gold;
}

.hvr-sweep-to-right--red:before {
  background: $color-red;
}

.button:hover.hvr-sweep-to-right--red {
  border-color: $color-red;
}

.hvr-sweep-to-right--gray:before {
  background: $color-gray-dark;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
