/*------------------------------------*\
   #SITE-NAV
\*------------------------------------*/

/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    // height: 45px;
    // line-height: 45px;
    // color: #e6e6e6;
    color: $color-gray-dark;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    // font-size: 0.8rem;
    font-size: rem-calc(18);
    line-height: 1;
    text-transform: uppercase;

    &:hover:not(.button) {
      // background-color: #2a2a2a;
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  // .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu {
    background-color: $color-white;
    color: $color-gray-dark;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}

.top-bar-right {
  padding-top: rem-calc(54);
}

.site-nav__logo {
  display: block;
  width: 196px;
}
