/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.button {
  border-radius: $global-radius;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.button--dark {
  border-color: $color-gray;
  background: $color-gray;
  // color: $body-font-color;
  // color: $color-white;
}


// Special double-border button
.button--hero {
  background: $color-red;
  border: 4px solid $color-red;
  border-radius: 3px;
  // color: $color-black;
  padding: halve($spacing-unit) $spacing-unit;
  font-weight: bold;
  font-family: Raleway;
  @include font-size(17px);
  // font-size: rem-calc(17);
  position: relative;
  margin-top: $spacing-unit;
  > .fa {
    margin-right: $spacing-unit;
  }
  // &:hover {
  //   background: $color-red;
  // }
}

// http://stackoverflow.com/questions/19463904/css-double-border-with-different-color
// .button--hero:before {
//   background: none;
//   border: 1px solid $color-gold-alt;
//   border-radius: $global-radius;
//   content: "";
//   display: block;
//   position: absolute;
//   top: 4px;
//   left: 4px;
//   right: 4px;
//   bottom: 4px;
//   pointer-events: none;
// }


// Effects

.hvr-sweep-to-right--gold:before {
  background: $color-gold-dark;
}

.hvr-sweep-to-right--red:before {
  background: shade($color-red-dark, 20%);
}

.button:hover.hvr-sweep-to-right--red {
  border-color: $color-red;
  background: $color-red;
}

.hvr-sweep-to-right--gray:before {
  background: $color-gray-dark;
}

.button:hover.hvr-sweep-to-right--gray {
  background: $color-gray;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/**
 * Icon
 */

// .icon {
//   position: relative;
//   overflow: hidden;
//   width: 50px;
//   height: 50px;
//   display: inline-block;
//
//   margin: 25px 0 25px 25px;
//   border-radius: 5px;
//   color: #fff;
//   text-decoration: none;
//   text-align: center;
//   line-height: 50px;
//   font-size: 12px;
//   font-family: sans-serif;
// }
//
// .icon:nth-child(1) { background: cornflowerblue; }
// .icon:nth-child(2) { background: salmon; }
// .icon:nth-child(3) { background: gray; }

/**
 * The "shine" element
 */

// .button:after {
//   content: "";
//   position: absolute;
//   top: -110%;
//   left: -210%;
//   width: 200%;
//   height: 200%;
//   opacity: 0;
//   transform: rotate(30deg);
//
//   background: rgba(255, 255, 255, 0.13);
//   background: linear-gradient(
//     to right,
//     rgba(255, 255, 255, 0.13) 0%,
//     rgba(255, 255, 255, 0.13) 77%,
//     rgba(255, 255, 255, 0.5) 92%,
//     rgba(255, 255, 255, 0.0) 100%
//   );
// }
//
// /* Hover state - trigger effect */
//
// .button:hover:after {
//   opacity: 1;
//   top: 50%;
//   left: 80%;
//   transition-property: left, top, opacity;
//   transition-duration: 0.7s, 0.7s, 0.15s;
//   transition-timing-function: ease;
// }
//
// /* Active state */
//
// .button:active:after {
//   opacity: 0;
// }


// .button:before {
//    content: "";
//    width: 100%;
//    height: 100%;
//    position: absolute;
//    top: -100%;
//    left: -125%;
//
//    background-image: -webkit-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));
//    background-image: -moz-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));
//
//      -moz-transition: all 0.5s ease-out;
//        -o-transition: all 0.5s ease-out;
//   -webkit-transition: all 0.5s ease-out;
//       -ms-transition: all 0.5s ease-out;
// }
//
// .button:hover:before {
//   top: 100%;
//   left: 100%;
// }
