/*------------------------------------*\
  #MENUS
\*------------------------------------*/

.menu.icon-menu {
  @include menu-simple;
  > li {
    margin: 0;
  }
  .icon-menu__item {
    @include breakpoint(large) {
      @include font-size(10px)
    }
  }
}

.menu {
  > li.no-link {
    padding: 0.7rem 1rem 0.7rem 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.product-menu {
  .menu-text {
    padding: 0;
    a {
      color: $color-gray;
      cursor: default;
    }
  }
}
