/*------------------------------------*\
  #FEATURE-ICONS
\*------------------------------------*/


.feature-icon {
  display: inline-block;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 2.75em;
  cursor: default;
}

.feature-icon-regular {
  display: inline-block;
  position: relative;
  // padding-bottom: 1em;
  // margin-bottom: 2.75em;
  min-width: 100%;
  min-height: sextuple($spacing-unit);
  cursor: default;
}

.feature-icon-regular .icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  font-size: 4.5em;
  // border-radius: 100%;
  // box-shadow: inset 0 0 0 5px $color-white;
  // color: #666;
  // line-height: 2.1em;
  padding: rem-calc(18px);
  position: relative;
}

  .feature-icon .icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    font-size: 4.5em;
    border-radius: 100%;
    box-shadow: inset 0 0 0 5px $color-white;
    color: #666;
    // line-height: 2.1em;
    padding: rem-calc(18px);
    position: relative;
  }

  .icon .icon__item {
    // @include vertical-center;
    // transform: translateX(-50%) translateY(-50%);
    // display: block;
    // margin: auto;
    // position: absolute;
    // max-width: 100px;
    // max-width: 100px;
    // max-height: 100px;
    // top: 50%;
    // left: 50%;
    fill: $color-gold;

  }

  .icon .icon__item--purple {
    fill: $color-purple;
  }

  .icon .icon__item--blue {
    fill: $color-blue;
  }

  // .animate-spin {
  //   @include mui-animation(spin(in, 1440deg));
  //   animation-duration: 5s;
  // }

  @include mui-series {
    .icon-1 {
      @include mui-queue(1s, -.7s, spin);
    }
    .icon-2 {
      @include mui-queue(1s, -.7s, spin);
    }
    .icon-3 {
      @include mui-queue(1s, -.7s, spin);
    }
  }


  .feature-icon:before {
    content: '';
    position: absolute;
    left: 50%;
    // bottom: 0.65em;
    // top: -7em;
    top: quadruple($spacing-unit)*(-1);
    width: 5px;
    // height: 7em;
    height: quadruple($spacing-unit);
    background: $color-white;
    margin-left: -0.5px;
  }

  // .feature-icon:after {
  //   content: '';
  //   position: absolute;
  //   left: 50%;
  //   bottom: 0.65em;
  //   width: 1px;
  //   height: 4.35em;
  //   background: #666;
  //   margin-left: -0.5px;
  // }

// .dark .feature-icon .icon {
//   background: rgba(255, 255, 255, 0.15);
//   box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
//   color: #fff;
// }
//
// .dark .feature-icon:before, .dark .feature-icon:after {
//   background: rgba(255, 255, 255, 0.5);
// }
