///*------------------------------------*\
//    #BANDS
//\*------------------------------------*/

.band {
  padding-top:    double($spacing-unit);
  padding-bottom: double($spacing-unit);
}

.band--small {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.band--special {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eadda8+0,ffffff+33&1+0,0+33 */
  @include breakpoint(medium) {
    background-image: url("../images/corner-lines-top.svg"), url("../images/corner-lines-bottom.svg"), linear-gradient(135deg,  rgba(234,221,168,1) 0%,rgba(255,255,255,0) 33%), linear-gradient(135deg,  rgba(255,255,255,0) 67%,rgba(234,221,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top left, bottom right;
  }
    background-image: linear-gradient(135deg,  rgba(234,221,168,1) 0%,rgba(255,255,255,0) 33%), linear-gradient(135deg,  rgba(255,255,255,0) 67%,rgba(234,221,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  // background: -moz-linear-gradient(-45deg,  rgba(234,221,168,1) 0%, rgba(255,255,255,0) 33%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg,  rgba(234,221,168,1) 0%,rgba(255,255,255,0) 33%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg,  rgba(234,221,168,1) 0%,rgba(255,255,255,0) 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadda8', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  // background: url("../images/corner-lines.svg") no-repeat;
}
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+67,eadda8+100&0+67,1+100 */
// background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 67%, rgba(234,221,168,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 67%,rgba(234,221,168,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(135deg,  rgba(255,255,255,0) 67%,rgba(234,221,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eadda8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

.band--special-dark {
  background-color: $color-gray-dark;
  background-image: -moz-linear-gradient( 135deg, rgb(62,62,64) 0%, rgb(75,77,82) 23%, rgb(41,43,48) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(62,62,64) 0%, rgb(75,77,82) 23%, rgb(41,43,48) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(62,62,64) 0%, rgb(75,77,82) 23%, rgb(41,43,48) 100%);
  background-image: linear-gradient( 135deg, rgb(62,62,64) 0%, rgb(75,77,82) 23%, rgb(41,43,48) 100%);
  color: $color-white;
  padding-top: quadruple($spacing-unit);

  h1, h2, h3, h4, h5, h6 {
    color: $color-white;
  }
}

.band--gold {
  background-color: $color-gold-alt;
}

// A special triple border to ease transitions between bands
// http://nicolasgallagher.com/multiple-backgrounds-and-borders-with-css2/demo/borders.html
.band--gold.triple-border {
  position: relative;
  border-top: 5px solid $color-gold-alt;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    border-top: 1px solid $color-gray-dark;
    // border-bottom: 5px solid $color-gold-alt;
    // background: #ff9600;
    height: 1px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 3px solid $color-gray-dark;
    border-bottom: 2px solid $color-gray-dark;
    background: $color-gold-alt;
    height: 10px;
  }
}

.band--tint {
  background-color: tint($color-gray-light, 80%);
}

.band--large {
  padding-top: quadruple($spacing-unit);
  padding-bottom: quadruple($spacing-unit);
}


// .band--large {
//   // padding: double($global-padding);
//
//   @include breakpoint(large) {
//     padding-top:    double($global-padding);
//     padding-bottom: double($global-padding);
//   }
//
// }
//
// .band--huge {
//   @include breakpoint(large) {
//     padding-top:    quadruple($global-padding);
//     padding-bottom: quadruple($global-padding);
//   }
// }
//
// .band--highlight {
//   background-color: $light-gray;
// }
//
//
// .band--dark {
//   background-color: $dark-gray;
// }
