/*------------------------------------*\
  #MASTHEAD
\*------------------------------------*/

#masthead {
  @include grid-row();
}

/* Underline From Left */
.hvr-underline-from-left a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:not(.active) a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $color-red-dark;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left a:hover:before,
.hvr-underline-from-left a:focus:before,
.hvr-underline-from-left a:active:before {
  right: 0;
}

.hvr-underline-from-left.active a:before,
.hvr-underline-from-left.active a:active:before,
.hvr-underline-from-left.active a:focus:before,
.hvr-underline-from-left.active a:hover:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-red-dark;
  height: 4px;
}
