/*------------------------------------*\
  #POST
\*------------------------------------*/

.single-post {
  h1.hero__text {
    color: $color-white;
  }
}

.single-post article {
  p, li {
    margin-bottom: $spacing-unit;
    @include breakpoint(medium) {
      @include font-size(22px, 1.7);
      margin-bottom: double($spacing-unit);
    }
  }
  p.post-credit {
    @include font-size(16px);
    font-weight: 700;
  }
}

.hero .byline {
  color: $color-white;
}

.byline {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.byline__category {
  color: $color-black;
  margin-right: $spacing-unit;
}

.byline__date {
  font-weight: 200;
}

.post-nav {
  position: fixed;
  top: 50%;
  @include font-size(50px);
  font-weight: 700;
  a {
    border-radius: $global-radius;
    color: $color-white;
    background-color: tint($color-gray-light, 30%);
    padding: 0 halve($spacing-unit) quarter($spacing-unit);
    display: block;
  }
  > a:hover, a:active {
    background-color: $color-gray-light;
  }
}

.post-nav--previous {
  right: 2%;
}

.post-nav--next {
  left: 2%;
}


/* POST LISTING */
.post-list {
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: double($spacing-unit);
}

.post-list__item {
  padding: 0 $spacing-unit;

  h2 {
    @include font-size(30px, none);
    font-weight: 300;
    margin-bottom: $spacing-unit;
    a {
      color: $color-red-dark;
    }
    a:hover {
      color: $color-red;
    }
  }
}
