/*------------------------------------*\
  #TYPE
\*------------------------------------*/


strong {
  // color: $color-gray-dark;
}

#page-full-width {
  p, ul {
    margin-bottom: $spacing-unit;
    @include breakpoint(medium) {
      @include font-size(22px, 1.7);
      // margin-bottom: double($spacing-unit);
    }
  }
}
