/*------------------------------------*\
  #ORBIT
\*------------------------------------*/

.orbit-previous, .orbit-next {
  color: $body-font-color;
}

.orbit blockquote {
  border-left: none;
  &, p {
    font-size: rem-calc(20);
    padding-bottom: $spacing-unit;
    @include breakpoint(medium) {
      font-size: rem-calc(26);
    }
  }
}
