/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-spacing-namespace:               $inuit-namespace !default;

$inuit-margin:                          $inuit-base-spacing-unit !default;
$inuit-margin--small:                       halve($inuit-margin) !default;
$inuit-margin--tiny:                      quarter($inuit-margin) !default;
$inuit-margin--large:                      double($inuit-margin) !default;
$inuit-margin--huge:                    quadruple($inuit-margin) !default;

$inuit-padding:                         $inuit-base-spacing-unit !default;
$inuit-padding--small:                      halve($inuit-padding) !default;
$inuit-padding--tiny:                     quarter($inuit-padding) !default;
$inuit-padding--large:                     double($inuit-padding) !default;
$inuit-padding--huge:                   quadruple($inuit-padding) !default;

$inuit-enable-margins:                  true;
$inuit-enable-margins--tiny:            false !default;
$inuit-enable-margins--small:           false !default;
$inuit-enable-margins--large:           false !default;
$inuit-enable-margins--huge:            false !default;

$inuit-enable-margins--negative:        false !default;
$inuit-enable-margins--negative-tiny:   false !default;
$inuit-enable-margins--negative-small:  false !default;
$inuit-enable-margins--negative-large:  false !default;
$inuit-enable-margins--negative-huge:   false !default;

$inuit-enable-margins--none:            true;

$inuit-enable-paddings:                 true;
$inuit-enable-paddings--tiny:           false !default;
$inuit-enable-paddings--small:          false !default;
$inuit-enable-paddings--large:          false !default;
$inuit-enable-paddings--huge:           true;

$inuit-enable-paddings--none:           true;
